fastapi==0.115.0
uvicorn==0.30.6
psycopg2-binary==2.9.9
alembic==1.13.2
pydantic==2.8.2
pydantic-settings==2.4.0
python-dotenv==1.0.1
pyjwt==2.9.0
email-validator==2.1.1
google-auth==2.32.0
requests
bcrypt==4.0.1
passlib[bcrypt]==1.7.4
sib-api-v3-sdk==7.6.0
websockets
cloudinary==1.41.0
python-multipart==0.0.9
jinja2==3.1.4
reportlab==4.2.2

